---
const knowledge = [
    "langs",
    "runtimes",
    "ddbb",
    "frameworks",
    "libraries",
    "services",
];

const langs = [
    {
        lang: "JavaScript",
        logo: "/assets/icons/javascript.svg",
    },
    {
        lang: "TypeSript",
        logo: "/assets/icons/typescript.svg",
    },
    {
        lang: "PHP",
        logo: "/assets/icons/php.svg",
    },
    {
        lang: "Java",
        logo: "/assets/icons/java.svg",
    },
];

const runtimes = [
    {
        runtime: "Node.js",
        logo: "/assets/icons/node.svg",
    },
];

const ddbb = [
    {
        db: "MySQL",
        logo: "/assets/icons/mysql.svg",
    },
    {
        db: "PostgreSQL",
        logo: "/assets/icons/postgresql.svg",
    },
];

const frameworks = [
    {
        fw: "Next.JS",
        logo: "/assets/icons/nextjs.svg",
    },
    {
        fw: "Vite",
        logo: "/assets/icons/vite.svg",
    },
    {
        fw: "NestJS",
        logo: "/assets/icons/nestjs.svg",
    },
];

const libraries = [
    {
        library: "React",
    },
    {
        library: "Threejs",
    },
    {
        library: "R3F",
    },
];

const services = [
    {
        service: "AWS",
    },
];
---

<div class="knowledge">
    <span class="title">Abilities</span>
    <div class="scene">
        <div class="scenelist">
            {
                langs.map((lang, i) => (
                    <div class="item">
                        <img src={lang.logo} />
                    </div>
                ))
            }

            {
                runtimes.map((runtime, i) => (
                    <div class="item">
                        <img src={runtime.logo} />
                    </div>
                ))
            }

            {
                ddbb.map((db, i) => (
                    <div class="item">
                        <img src={db.logo} />
                    </div>
                ))
            }
            {
                frameworks.map((fw, i) => (
                    <div class="item">
                        <img src={fw.logo} />
                    </div>
                ))
            }
        </div>
        <div class="scenelegend">
            {knowledge.map((k, i) => <div>{k}</div>)}
        </div>
    </div>
    <!-- <div class="list">
        {langs.map((lang, i) => (
            <div>{lang.lang}</div>
        ))}
    </div> -->
</div>

<style>
    .knowledge {
        font-family: sp;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 40px;
    }

    .title {
        font-size: 2rem;
    }

    .list {
        display: flexbox;
        flex-wrap: wrap;
    }

    .scene {
        width: 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60'%3E%3Crect width='70' height='70' fill='%23fff' /%3E%3Crect x='50%' width='1' height='100%' fill='rgb(203 213 225)' /%3E%3Crect y='50%' width='100%' height='1' fill='rgb(203 213 225)' /%3E%3C/svg%3E%0A");
        border-radius: 20px;
        border: solid 2px black;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .scenelist {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        gap: 44px;
    }

    .item {
        width: 80px;
        height: 80px;
        background-color: white;
        border: solid 3px black;
        padding: 10px;
    }

    .item > img {
        width: 100%;
        height: 100%;
    }

    .scenelegend {
        display: flex;
    }
</style>
